//
   Created by Joost on 25-3-2015.
extends ../layout
block content
    h1 Spots
    table(id="spots")
        tr
            th Naam
            th Afbeelding
            th Actions
        each spot in spots
            tr
                td #{spot.name}
                td
                    img(src="data:#{spot.image.extension};base64,#{spot.image.data}",style="max-width:100px;")
                td
                    a(href="/crud/spots/delete/#{spot._id}") X
                    span(style="margin-left:5px;")
                    a(href="/crud/spots/edit/#{spot._id}") E


    script.
        socket.on("spot added",function(spot){
            console.log("A spot was added! " + spot);
           $('#spots').find('tbody').append('<tr><td>'+spot.name+'</td><td><img style="max-width:100px;" src="data:'+spot.image.extension+';base64,'+spot.image.data+'"/></td><td><a href="/crud/spots/delete/'+spot._id+'">X</a><span style="margin-left:5px;"></span><a href="/crud/spots/edit/'+spot._id+'">E</a> </td></tr>')
        });


